<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<div th:fragment="musicPlyer">
    <link rel="stylesheet" href="/APlayer/APlayer.min.css">
    <script src="/APlayer/APlayer.min.js"></script>
    <!-- require MetingJS -->
    <script src="/APlayer/Meting.min.js"></script>
    <meting-js
            id="5199351794"
            lrc-type="0"
            server="netease"
            order="random"
            type="playlist"
            fixed="true"
            list-olded="true">
    </meting-js>
</div>
</html>